body {
    background-color: #79669d;
}

.leaflet-container {
    height: 600px;
    width: 100%;
}

.stats-paper,
.filters-paper,
.route-map-paper {
    margin: 20px;
}

.filters-paper {
    padding: 20px;
}

.mph-slider {
    margin-top: 40px;
}

.search-form-control {
    margin: -5px 0px 10px 15px;
}
